@import "colors"

.cm-s-genesis.CodeMirror
  background: syntax-background-color
  color: syntax-text-color

.cm-s-genesis div.CodeMirror-selected
  background: syntax-selection-color !important

.cm-s-genesis.CodeMirror ::selection
  background: syntax-selection-color

.cm-s-genesis.CodeMirror ::-moz-selection
  background: syntax-selection-color

.cm-s-genesis .CodeMirror-gutters
  background: syntax-gutter-background-color
  color: syntax-gutter-text-color
  border-right: 0px

/*
.cm-s-genesis .CodeMirror-guttermarker
  color: pink

.cm-s-genesis .CodeMirror-guttermarker-subtle
  color: #b0b0b0

.cm-s-genesis .CodeMirror-linenumber
  color: grey

.cm-s-genesis .CodeMirror-cursor
  border-left: 1px solid syntax-cursor-color !important

.cm-s-genesis span.cm-comment
  color: syntax-comment-color

.cm-s-genesis span.cm-atom
  color: orange

.cm-s-genesis span.cm-number
  color: orange

.cm-s-genesis span.cm-property,
.cm-s-genesis span.cm-attribute
  color: #90a959

.cm-s-genesis span.cm-keyword
  color: pink

.cm-s-genesis span.cm-string
  color: light-green

.cm-s-genesis span.cm-variable
  color: syntax-text-color

.cm-s-genesis span.cm-variable-2
  color: syntax-text-color

.cm-s-genesis span.cm-def
  color: #d28445

.cm-s-genesis span.cm-bracket
  color: syntax-text-color

.cm-s-genesis span.cm-tag
  color: pink

.cm-s-genesis span.cm-link
  color: blue

.cm-s-genesis span.cm-error
  background: pink
  color: #505050

.cm-s-genesis span.cm-url
	color: syntax-comment-color

.cm-s-genesis .CodeMirror-activeline-background
  background: #DDDCDC !important

.cm-s-genesis .CodeMirror-matchingbracket
  text-decoration: underline
  color: white !important
*/

.cm-s-genesis .CodeMirror-cursor
  	border-left: 2px solid green !important

.cm-s-genesis span
	&.cm-header
		color: green
	&.cm-link
		color: blue
		text-decoration: none
	&.cm-url
		color: syntax-comment-color
	&.cm-comment
	  	color: syntax-comment-color
