@import "genesis-colors"
@import "fira"
@import "markdown-body"
@import "preview"
@import "hljsDefault"
@import "codemirror"
@import "underline"
@import "../../node_modules/hljs-genesis/build/genesis.css"

html,
body
  	padding: 0
  	margin: 0
  	width: 100%

/*
	BlankUp
	The stuff we really care about.
 */

.BlankUp
	display: flex
	flex-direction: row
	width: 100%
	height: 100%
	background-color: syntax-background-color

.BlankUp__input
	width: 100%
	cursor: text

.BlankUp_show-preview .BlankUp__input
	width: 50%

.BlankUp__preview
	background-color: #fff
	display: none
	width: 50%
	overflow-y: scroll
	padding: 2rem
	box-sizing: border-box

.BlankUp_show-preview .BlankUp__preview
    display: block

//Nice scrollbar
::-webkit-scrollbar
    width: 0.4rem

::-webkit-scrollbar-track
	//background-color: syntax-selection-color

::-webkit-scrollbar-thumb
	background-color: saturation(mainColor, 50%)
	opacity: 0.5

.BlankUp-preview::webkit-scrollbar-track
	background-color: lighten(syntax-selection-color, 50%)

/*
	Codemirror arrangements
 */

.CodeMirror
	width: 100%
	display: flex
	flex-direction: row
	justify-content: center
	cursor: text

.CodeMirror-line
	padding-top: 0.5em

maxWidth = 800px

//This makes sure that marked lines are all the same size
//And defines how wide the area for text is.
.CodeMirror-scroll
	max-width: maxWidth
	width: 80%
	&::-webkit-scrollbar
		display: none

.CodeMirror-sizer
	border-right: 1px solid darken(syntax-background-color, 10%) !important
	max-width: maxWidth
	min-width: 500px

// Make links nice, for preview
a
	link-underline(#fff, #333333, #00ccbb)
