@import "genesis-colors"
@import "fira"
@import "markdown-body"
@import "preview"
@import "hljsDefault"
@import "codemirror"
@import "underline"

html,
body
  	padding: 0
  	margin: 0
  	width: 100%
  	height: 100%

/*
	BlankUp
	The stuff we really care about.
 */

.BlankUp
	display: flex
	flex-direction: row
	width: 100%
	height: 100%
	background-color: syntax-background-color

.BlankUp-part
	flex-grow: 1
	height: 100%
	overflow-y: scroll
	padding: 0 2rem

.BlankUp-preview
	background-color: #fff
	padding-top: 2rem
	padding-bottom: 2rem
	box-sizing: border-box //Else the page will scroll instead of the preview

//Nice scrollbar
::-webkit-scrollbar
    width: 0.4rem

::-webkit-scrollbar-track
	background-color: syntax-selection-color

::-webkit-scrollbar-thumb
	background-color: saturation(mainColor, 50%)
	opacity: 0.5

.BlankUp-preview::webkit-scrollbar-track
	background-color: lighten(syntax-selection-color, 50%)

/*
	Codemirror arrangements
 */

.CodeMirror
	min-height: 100%
	height: auto
	display: flex
	flex-direction: row
	justify-content: center

//This makes sure that marked lines are all the same size
//And defines how wide the area for text is.
.CodeMirror-scroll
	min-height: 100%
	&::-webkit-scrollbar
		display: none

.CodeMirror-sizer
	border-right: 1px solid darken(syntax-background-color, 10%) !important
	max-width: 800px
	min-width: 500px
	min-height: 100%


// Make links nice, for preview
a
	link-underline(#fff, #333333, #00ccbb)
