/*
	This document is about the look of codemirror.
	It does not deal with where and how the editor is displayed.

	Thing of this as defining coloring for syntax.
 */

//FIXME this should probably require the basics from NPM module but somehow
//That borke things...
@import "codemirrorBasic"
@import "genesis-colors"

headlineBlue = saturation(blue, 80%)
textBlue = saturation(blue, 60%)

.cm-s-genesis.CodeMirror
  background: syntax-background-color
  color: syntax-text-color

.cm-s-genesis div.CodeMirror-selected
  background: syntax-selection-color !important

.cm-s-genesis.CodeMirror ::selection
  background: syntax-selection-color

.cm-s-genesis.CodeMirror ::-moz-selection
  background: syntax-selection-color

.cm-s-genesis .CodeMirror-gutters
  background: syntax-gutter-background-color
  color: syntax-gutter-text-color

.CodeMirror pre span
	font-weight: normal
	font-family: "Fira Mono", sans-serif

.cm-s-genesis .CodeMirror-cursor
	border-left: 2px solid blue !important

/*
	Extra things to highlight codeblocks
 */
.cm-s-genesis span
	&.cm-string
		color: light-green
	&.cm-number
		color: green
	&.cm-def
		color: orange
	&.cm-variable
		color: blue
	&.cm-keyword
		color: pink


/*
	Markdown highlighting
 */
.cm-s-genesis span
	font-weight: 400
	&.cm-header
		color: headlineBlue
	//Headline sizes using http://www.modularscale.com/?1&em&1.12&web&text
	&.cm-header-1
		font-size: 1.762rem
	&.cm-header-2
		font-size: 1.574rem
	&.cm-header-3
		font-size: 1.405rem
	&.cm-header-4
		font-size: 1.254rem
	&.cm-header-5
		font-size: 1.15rem
	&.cm-link
		color: textBlue
		text-decoration: none
	&.cm-property,
	&.cm-formatting-list,
	&.cm-formatting-task,
	&.cm-meta
		color: textBlue
	&.cm-url,
	&.cm-comment
	&.cm-tag,
	&.cm-bracket
	  	color: lighten(syntax-comment-color, 10%)
	&.cm-em,
	&.cm-strong
		color: light-pink
	&.cm-quote:not(.cm-formatting)
		color: gray
	&.cm-strong
		font-weight: bold
	&.cm-formatting-link.cm-link
		color: syntax-comment-color
